body{
    margin:0px;padding:0px 0px 100px 0px;font-family:sans-serif;
    height:100%;
    background: yellow; 
    background: -webkit-linear-gradient(yellow, white); /* Safari */
    background: -o-linear-gradient(yellow, white); /* Opera */
    background: -moz-linear-gradient(yellow, white); /* Firefox */
    background: linear-gradient(yellow, white); /* Standard */
}

h1, h2, p, figure, img{margin:0px;padding:0px;}

.disclaimer{font-weight:bold;}
.note{font-weight:bold;color:#ff0000;}
.spacer{margin-top:10px;}
.rightBox>h2{margin-bottom:10px;}
.rightBox>p{font-size:0.8em;}
figcaption{font-size:0.5em;font-weight:bold;}


header{}
#startTeaser{padding-bottom:10px;}
#startTeaser>h2{color:#ff0000;}

main{padding:0px 18px}

#startTeaser{}

button.accordion {
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #ffff00;
    text-align: left;
    outline: none;
    font-size: 2em;
    transition: 1.0s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ff0000;
}

button.accordion:after {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}
panel {max-height: 800px;}
.wrapper{
    width: 100%;
    padding: 10px;
    display:flex;}

.leftBox{
    width: 40%;}
.leftBox>figure {width: 100%;}
figure>img {width: 100%;}

.rightBox{
    padding: 0px 15px;
    width: 60%;
    }
footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding:10px 0px;
    background-color: #ff0000;
}
footer p{
    color: white;
    font-size: 0,75em;
    text-align: right;
    margin-right: 18px;
}

    
@media only screen and (min-width: 750px) {
    main{padding:0px 150px 0px 18px}
}

@media only screen and (min-width: 1000px) {
    main{padding:0px 350px 0px 18px}
    .leftBox{width: 20%;}
    .leftBox>figure {width: 100%;}
    .rightBox{width: 80%;}
}